body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    margin: 0;
    background: url('https://cdna.artstation.com/p/assets/images/images/016/877/720/original/jarek-bartyna-cage1b.gif?1553801430')
}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}
img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}
input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: darkgreen;
}